<span>
  <!--<span id="busuanzi_container_page_pv">本文阅读量<span id="busuanzi_value_page_pv_<%= post.slug %>"></span>次</span>
  <span class="division">|</span>
  -->
  <span id="busuanzi_container_site_uv"><i class="ri-user-3-fill"></i><%- __('site_visitors') %>:<span id="busuanzi_value_site_uv"></span></span>
  <span class="division">|</span>
  <span id="busuanzi_container_site_pv"><i class="ri-eye-fill"></i><%- __('page_views') %>:<span id="busuanzi_value_site_pv"></span></span>
</span>
<script>
  
</script>